
#game *
{
    margin: 0;
    padding: 0;
}

#game
{
    text-align: center;
}

canvas
{
    border: 2px ridge brown;
}

#gameframe
{
    display: inline-block;
}

#generation
{
    text-align: left;
    font-style: italic;
    font-size: x-small;
}

#wrapperbuttons
{
    text-align: center;
}

button:active,
button:focus
{
    outline: none;
    border: 0
}

button#create,
button#startreset
{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
    background: silver;
    margin-top: 10px;
    border: 5px solid gray;
    border-radius: 10px;
    padding: 10px 10px;
}

#wrapperinput
{
    display: inline-block;
    margin-left: 10px;
    margin-top: 30px;
}

#input1,
#input2,
#input3
{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    height: 70px;
}

#input1
{
    border-right: 1px solid silver;
    padding-right: 10px;
}

#input2
{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    padding-left: 10px;
    padding-right: 10px;
}

#input3
{
    border-left: 1px solid silver;
    padding-left: 10px;
}

#input3 label
{
    display: inline-block;
    width: 60px;
    text-align: right;
    margin-right: 6px;
}

input#cells,
input#grid,
input#width
{
    margin-bottom: 15px;
}

input#circles
{
    margin-left: 20px;
}

